:root{

	--base_color : #ffc600;
	--spacing : 5px;
	--blur : 5px;
}

img{
	padding: var(--spacing);
	background: var(--base_color);
	filter: blur(var(--blur));
}

.hl{

	color: var(--base_color);
}

body{
	background-color: #193549;
	font-family: 'helvetica-neue', sans-serif ;
	font-size: 50px;
	color: white;
}

.controls{
	margin-bottom: 50px;
}
